<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movies</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'All movies', root_path %></li>
        <li><%= link_to 'Recommended movies', top_movies_path %></li>
        <li><a href="#">Recommended movies (fast)</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container center">
  <% @movies.each_with_index do |movie, i| %>
    <div class="movie">
      <img class="poster" src="<%= movie.poster %>" />
      <p class="title"><%= movie.movie_title %></p>

      <span class="rating" data-rating="<%= movie.ratings.average(:rating).round(1) %>" data-movie="<%= movie.id %>"></span>
    </div>
  <% end %>
</div>
